body {
    margin: 0;
    padding: 0;
}

#admin-interface {
    background-color: rgb(22, 22, 22); 
    color: #f8f9fa; 
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
}

#section-artistes {
    display:flex;
    flex-direction: column;
    align-items:center;
}

#section-concerts {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#section-suggestions {
    display:flex;
    flex-direction: column;
    align-items:center;
}

#artists-table, #concerts-table {
    margin-top: 20px;
    color: white;
    width: 70%;
    overflow-x: auto;
    table-layout: fixed;
}

#admin-interface h1{
    margin-top: 30px;
    text-align:center;
}

#admin-interface h2{
    margin-top: 20px;
}

#artists-table td {
    max-height: 100px; 
    overflow: hidden;
    vertical-align: middle;
    text-align:center;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #333; 
    color: #f8f9fa; 
}

td {
    background-color: #444; 
    color: #f8f9fa;
    overflow: hidden;
}

button {
    margin-bottom: 20px;
    margin-top: 20px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(38, 143, 255, 0.5);
}

#management-form {
    padding: 20px;
    background-color: #333; 
    border-radius: 8px;
    color: #f8f9fa;
}

#management-form label {
    margin-top: 10px;
    color: #f8f9fa; 
}