body {
    background-color: rgb(22, 22, 22);
    color: #f8f9fa;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #333;
}

h1 {
    text-align: center;
    margin: 30px;
}

form label {
    margin-top: 15px;
    font-weight: bold;
    color: white;
}

form input[type="text"], form select, form textarea {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.image-preview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"], form button {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin: 20px;
}

form input[type="submit"]:hover, form button:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);

}

form button[type="button"] {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin: 20px;
}

form button[type="button"]:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

input[type="checkbox"] {
    margin-right: 10px;
    appearance: none; 
    -webkit-appearance: none; 
    background-color: #444; 
    border: 1px solid #555; 
    border-radius: 4px; 
    width: 20px; 
    height: 20px; 
    cursor: pointer; 
    position: relative; 
    display: inline-block;
}

input[type=checkbox]:checked {
    background-color: #6a11cb; 
    border-color: #6a11cb;
}

input[type=checkbox]:checked::before {
    content: '';
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 10px; 
    height: 10px; 
    background-color: white; 
    border-radius: 50%; 
    transform: translate(-50%, -50%);
}

input[type=checkbox]:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

