section {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

section img {
    width: 100%;
    height: auto;
    max-width: 350px;
}

#photo-caption {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#photo-caption .caption h1,
#photo-caption .caption p {
    white-space: nowrap;
}

h1 {
    /* text-align:center; */
    margin-top: 15px;
}

section #description-reseaux {
    padding: 30px 30px 80px 30px;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 50px;
}

#description-reseaux a {
    font-weight: bold;
}

#description-reseaux a:hover {
    color: #844865;
}

@media (min-width: 768px) {
    #photo-caption {
        width: 90%;
        flex-direction: row;
    }

    section img {
        max-width: 60%;
    }

    #photo-caption img {
        margin-top:70px;
        min-width:450px;
        max-width: 450px;
        max-height: 450px;
        min-height:450px;
        object-fit: cover;
    }

    #photo-caption .caption {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
    }

    section #description-reseaux {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    section img {
        max-width: 548px;
    }

    #photo-caption {
        width:unset;
    }

    section #description-reseaux {
        width: 60%;
    }
}