span {
    color: #844865;
}

#main-decouvrez {
    margin-top: 60px;
    padding: 0px 40px 40px 40px;
}

h2 {
    text-align: center;
}

h3 {
    color:#844865;
    font-size: 1.3rem;
    font-weight: 500;
}

.artiste {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.artiste #artistes{
    color: unset;
}

.artiste img {
    width: 100%;
    height: auto;
    max-width: 250px; 
    max-height: 250px;
    min-width:250px;
    object-fit: cover; 
    
}

.artiste a {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.category-container1 {
    margin-top: 50px;
}

.category-container1 .artistes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-top: 30px;
}

.caption1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.category-container2 {
    margin-top: 50px;
}

.category-container2 .artistes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    margin-top: 30px;
}

.caption2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .artiste img {
        width: 100%;
        height: 320px;
        max-width: 320px; 
        max-height: 320px;
        min-width:320px;
        object-fit: cover; 
    }

    .artistes-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* Styles pour les écrans larges (bureau) */
@media (min-width: 1024px) {
    .artiste img {
        width: 100%;
        height: 450px;
        max-width: 450px; 
        max-height: 450px;
        min-width:450px;
        object-fit: cover;   
    }

    .artistes-list {
        gap: 30px;
    }

    main {
        padding: 0 50px;
    }

}