span {
    color: #844865;
}

main {
    margin-top: 60px;
    padding: 0 20px;
}

h2 {
    text-align: center;
}

h3 {
    color:#844865;
    font-size: 1.3rem;
    font-weight: 500;
}

.artiste #artistes{
    color: unset;
}

.artiste img {
    width: 100%;
    height: auto;
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    object-fit: cover;
    
}

.artiste a {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.artistes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 768px) {
    .artiste img {
        width: 80%;  /* Réduit légèrement la taille de l'image pour les écrans de taille moyenne */
    }

    .artistes-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* Styles pour les écrans larges (bureau) */
@media (min-width: 1024px) {
    .artiste img {
        width: 45%;  /* Les images prennent moins de place sur les grands écrans */
    }

    .artistes-list {
        gap: 30px;
    }

    main {
        padding: 0 50px;
    }

}