* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.artist .caption a {
    transition: transform 0.3s ease-in-out;
}

.artist .caption a:hover {
    transform: translateX(10px);
}

html, body {
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.caption h3 {
    color:#844865;
}

.caption a {
    color:#844865;
}

.nav-links {
    display: flex; 
    width: 100%;
    padding: 20px;
    background-color: rgb(22, 22, 22);
    justify-content: space-around;
}

.navbar {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
}

.nav-item {
    display: block;
}

#nav-item {
    display: none;
}

.logo {
    width: 80%;
}

.logo img {
    max-width: 200px;
    max-height: 28px;
}

.logo img:hover {
    animation: neon-blink 0.8s infinite alternate;
}

/* Styles pour le menu burger */
.burger-menu {
    display: block; 
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001; 
}

.burger-menu img {
    width: 30px;
    height: 30px;
}

.burger-menu-content {
    display: flex; 
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(22, 22, 22, 0.8);
    padding: 20px;
    z-index: 1000;
    flex-direction: column;
    gap: 10px;
    height: 0; 
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease; 
    overflow: hidden;
    width: 330px;
}

.burger-menu-content.active {
    opacity: 1;
    transform: translateY(0);
    height: 30vh;
    width: 330px;
}

.container-menu {
    display: none; 
}

.menu-title {
    color: white;
    font-size: 1.2rem;
}

/* Styles pour le menu burger activé */
.side-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 20px;
    background-color: rgba(22, 22, 22, 0.8);
    padding: 20px;
    z-index: 1000;
}

.img-bloc img {
    max-height: 260px;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

ul {
    list-style: none;
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-evenly;
}

.burger-menu-content .nav-item {

    display: flex;
    align-items:center;
    transform: translateX(0) translateY(0);
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.burger-menu-content .nav-item:hover {
    transform: translateX(10px) translateY(0);
    opacity: 1;
}

/*Styles pour le carousel*/

.img-deco {
    position: relative;
    overflow:hidden;
    max-height:280px;
    width:100%;
    object-fit: cover;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAB0lEQVR42mP8/wcAAgAB/EsDSAAAAAElFTkSuQmCC') repeat;
    background-size: 10px 10px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    filter: contrast(1.2) brightness(0.9);
}

.carousel-slide.active {
    opacity: 1;
}

/*MAIN*/

#span-title {
    color: #844865;
}

#cdc {
    margin-top: 60px;
}

#cdc-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

#cdc-content{
    margin-top: 15px;
    width:100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#cdc-content .artist {
    width: 70%; 
    max-width: 100%; 
    margin: 10px; 
}

#cdc-content .artist img{
    max-width: 100%; 
    object-fit: cover;
}

.artist .caption{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

#decouvrez-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

#decouvrez-container h2{
    text-align: center;
}

#decouvrez-content {
    display:flex;
    margin: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 60%;
    box-sizing: border-box;
}

#decouvrez-content .artist {
    gap: 15px;
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image-container {
    overflow: hidden;
    position: relative;
    width: 315px; 
    height: 250px; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.1); 
}

#decouvrez-content .artist img{
    object-fit: cover; 
}

.groupes-decouverte {
    color: #844865;
}

/*ANIMATIONS*/

@keyframes neon-blink {
    0%, 100% {
        opacity: 1;
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8)) 
                drop-shadow(0 0 15px rgba(116, 58, 86, 0.5)) 
                drop-shadow(0 0 20px rgba(165, 104, 133, 0.8)); 
    }
    50% {
        opacity: 0.8;
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.4)) 
                drop-shadow(0 0 7px rgba(0, 153, 255, 0.3)) 
                drop-shadow(0 0 10px rgba(0, 153, 255, 0.6));
    }
}


/*FOOTER*/

footer {
    width: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 20px;
    text-align: center;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-logo img {
    width: 284px;
}

.section-logo img:hover{
    animation: neon-blink 0.8s infinite alternate;
}

.logos img {
    width: 50px;
}

.section-contact {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titre-contact {
    font-size: 1.3rem;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#mail {
    cursor: pointer;
}

#mail:hover {
    text-decoration: underline;
}

.logos img {
    transition: transform 0.3s ease;
}

.logos img:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {

    .burger-menu {
        display: none; 
    }

    #nav-item {
        display: flex;
        align-items: center;
    }

    .burger-menu-content {
        display: none; /* Ne pas afficher le menu burger en grand écran */
    }

    .container-menu {
        display: flex; 
        width: 400px;
        flex-direction: column;
        margin-left: 0px;
        background-color: rgb(22, 22, 22);
        align-items: center;
        justify-content: space-evenly;
        height:110px;
        min-height: 280px;
    }

    .img-deco {
        width: 80%;
        height: 280px; 
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: none;
    }

    .img-deco img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .nav-links {
        display: flex; 
        width: 100%;
        padding: 20px;
        background-color: rgb(22, 22, 22);
        justify-content: space-around;
    }
    
    .side-menu {
        width: 100%;
        display: flex;
        justify-content:center;
    }

    .menu-dots {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
        height: 300px;
        align-items:center;
    }

    .menu-dots .dot-menu-item {
        color: white;
    }

    .dot-menu-item {
        transition: color 0.3s ease;
    }

    /*MAIN*/

    h2 {
        font-size: 2rem;
    }

    #cdc {
        width: 100%;
    }

    #cdc-container {
        width: 100%;
    }

    #cdc-content {
        width :80%;
        overflow: hidden;
        margin-top: 40px;
    }

    #cdc-content .artist {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start; 
        gap: 20px;
        width: unset;
    }

    #cdc-content .artist img {
        min-width: 50%;
        max-width:50%;
        object-fit: cover;
    }

    .caption {
        max-width: 400px;
        flex: 1;
    }

    .caption h3{
        font-size: 1.5rem;
    }

    .description {
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 5; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        line-height: 1.5; 
        max-height: 7.5em;
        font-size: 1.3rem;
    }

    p {
        margin: 0; 
        line-height: 1.5; 
    }

    #decouvrez-container {
        flex-direction: column; 
        align-items: center;
        margin: 70px auto; 
    }

    #decouvrez-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center; 
        gap: 30px; 
        max-width: 100%; 
        box-sizing: border-box; 
    }

    #decouvrez-content .artist {
        flex: 1; 
        display: flex;
        flex-direction: column;
        max-width: 33%; 
        box-sizing: border-box; 
        overflow: hidden; 
        text-align: center;
        gap: 15px;
    }

    #decouvrez-content .artist img {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        max-width: 100%; 
        max-height: 250px; 
        min-height: 250px; 
    }

    /*FOOTER*/

    footer {
        flex-direction:unset;
        align-items: center;
        min-height: 30%;
    }

    .section-contact {
        height: 80%;
    }
}